// web fonts

// Nunito --------------------------------------------------------------

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito/Nunito-Regular.ttf");
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito/Nunito-Italic.ttf");
  font-weight: normal;
  font-style: italic;
};

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito/Nunito-Light.ttf");
  font-weight: lighter;
  font-style: normal;
};

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito/Nunito-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
};

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito/Nunito-Bold.ttf");
  font-weight: bold;
  font-style: normal;
};

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito/Nunito-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
};

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito/Nunito-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
};

// Courier Prime --------------------------------------------------------------

@font-face {
  font-family: "Courier_Prime";
  src: url("/assets/fonts/Courier_Prime/CourierPrime-Regular.ttf");
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: "Courier_Prime";
  src: url("/assets/fonts/Courier_Prime/CourierPrime-Italic.ttf");
  font-weight: normal;
  font-style: italic;
};

@font-face {
  font-family: "Courier_Prime";
  src: url("/assets/fonts/Courier_Prime/CourierPrime-Bold.ttf");
  font-weight: bold;
  font-style: normal;
};

@font-face {
  font-family: "Courier_Prime";
  src: url("/assets/fonts/Courier_Prime/Courier_Prime-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
};



body {
  font-family: "Nunito", "Tahoma", "Times New Roman", "Gill Sans", sans-serif;
  // font-size: 0.8em;
  font-weight: 600;
  color: rgba(0,0,0, 0.8);
  font-size: 0.8em;
}

